*
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
body
	width: 100%
	height: 2000px
	font-family: 'Poppins', sans-serif;
.container
	width: 1170px
	margin: 0 auto
header
	font-size: 0
	line-height: 60px
	height: 680px
	background: url(../img/header.jpg) center -2px no-repeat;
.header-wrapper
	background: rgba(0, 0, 0, 0.5)
	height: 100%
.header__logo
	display: inline-block
	width: 16%
	h1
		color: #fff
		font-size: 30pt
		font-weight: 700
	h2
		color: #fff
		font-size: 18pt
		margin-left: 30px
		margin-top: -35px
.header__menu
	height: 100%
	display: inline-block
	width: 68%
	vertical-align: top
	ul
		display: flex;
		justify-content: center
		align-items: center	
		list-style: none
		li
			margin: 0 15px
			a
				text-decoration: none
				font-size: 16pt
				font-weight: bold
				color: #fff
				transition: opacity 0.3s ease-out;
				&:hover
					opacity: 0.5
				&:visited
					color: #fff		
.header__social
	display: inline-block
	width: 16%
	text-align: left
	vertical-align: top
	a
		vertical-align: middle
		display: inline-block
		margin-right: 15px
		height: 32px
		transition: opacity 0.3s ease-out;
		&:hover
			opacity: 0.5
		img
			width: 22px	
.-backgrad
	background: linear-gradient(to left bottom, rgba(253, 63, 179, 1) 0%, rgba(253, 62, 79, 1) 80%)
	z-index: 1
	position: relative
	-webkit-backface-visibility: hidden;
	&:after
		position: absolute
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right top, rgba(253, 63, 179, 1) 0%, rgba(253, 62, 79, 1) 80%)
		z-index: 2;
		opacity: 0;
		transition: opacity 0.9s ease-out;
	&:hover:after
		opacity: 1;
.header__block
	width: 100%
	text-align: center
	margin-top: 110px
	h3
		font-size: 25px
		color: #fff
		span
			font-family: Times New Roman
			letter-spacing: -0.4px
	p
		font-size: 50px
		color: #fff
		font-weight: 700			
	a
		font-size: 17pt
		padding: 15px 35px
		color: #fff
		text-decoration: none
		font-weight: 700
.block__button
	display: block
	margin-top: 80px
	a
		span
			z-index: 3
			position: relative	